<% provide :title, t("help") %>
<h1><%= t :help %></h1>
<p><%= sanitize t(".content",
  text: t("text"),
  link_help_page: link_to(t("help_page"),Settings.rails_help),
  link_rails_book: link_to(t("book"), Settings.rails_book)) %>
</p>
