<% provide :title, t("home") %>
<div class="center jumbotron">
  <h1><%= t("welcome") %></h1>
  <h2>
    <%= sanitize t(".content", link: link_to(t("text"), Settings.rails_tutorial))%>
  </h2>
  <%= link_to  t(".signup"), "#", class: "btn btn-lg btn-primary" %>
</div>
