# Ensure the MySQL gem is defined in your Gemfile
#   gem 'mysql2'
#
# Install MySql gem if not already there.
# Below command installs some pre-requisites for the installation:
#   sudo apt-get install libmysqlclient-dev mysql-client
# After above, this to finish gem installation:
#   gem install mysql2
#
# And be sure to use new-style password hashing:
#   http://dev.mysql.com/doc/refman/5.0/en/old-client.html

development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: sample_app
  pool: 5
  username: root
  password: root